body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  background-color: #1F2937;
  margin: -10px;
  padding: 25px 125px;
  height: 250px;
  max-width: 100%;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 24px;
  color: #F9FAF8;
  width: 700px;
}

.herolink {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  list-style-type: none;
  gap: 15px;
  width: 700px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.leftbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 700px;
}

.heromain {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8
}

.herosecondary {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  align-self: flex-start;
  background-color: #3882F6;
  border-radius: 4px;
  color: #F9FAF8;
  border: none;
}

.rightbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  width: 700px;
}